{% extends "layout.html" %}

{% block staticlinks %}
<script src="//code.highcharts.com/stock/highstock.js"></script>
<script src="//code.highcharts.com/modules/heatmap.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<script src="//code.highcharts.com/maps/modules/map.js"></script>
<script src="//code.highcharts.com/mapdata/custom/world-robinson.js"></script>
<script src="//code.highcharts.com/mapdata/custom/europe.js"></script>

<script src="static/script-fincontagion.js"></script>
<script src="static/mapGenerator.js"></script>

{% endblock %}

{% block content %}
    <div class="overlay">
    </div>
    
    <section class="container">
        {% block description %}{% endblock %}
    </section>
    
    
    <section class="container" id="spinnercontainer" style="">
        <div class="row">
            <div class="text-center col-12"><h4 style="text-align:center" id="loadmessage">Loading data and making graphs...</h4></div>
        </div>
        <div class="row">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
    </section>
    
    <section class="container" id="resultscontainer">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#heatmaptab" role="tab" aria-selected="true">Matrix</a>
          </li>

            
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Stock-to-Industry Correlation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Stock-to-Sector Correlation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Stock-to-Market Correlation</a>
          </li>
        </ul>
        
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="heatmaptab" role="tabpanel">
            <div class="container">    
                <div class="row">
                    <div class="col-lg-12">
                        <div id="heatmap"></div>
                    </div>
                </div>
            </div>  
          </div>

            
          <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="tab-1">
            <div id="chart_1" class="chart"></div>
          </div>
          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab-2">
            <div id="chart_2" class="chart"></div>
          </div>
          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab-3">
            <div id="chart_3" class="chart"></div>
          </div>
        </div>
    </section>
    
    <section class="container">
        <form class="form-inline">
            <div class = "form-group">

                <label for="showLines" >Draw connections between closely correlated countries?</label>
                <input type="checkbox" checked="checked" name="showLines" id="showLines">
            </div>
        </form>
        
        <form class="form-inline">
            <div class = "form-group">

                <label for="minLines" >Minimum correlation (0 to 1):</label>
                <input type="text" class="form-control form-control-sm" id="minLines" value="0.80">
                <button class="btn btn-primary btn-sm" type="button" id="submitLines" >Submit</button>
                <div id="errormessageLines" class="invalid-feedback">Error Message!</div>
            </div>
        </form>


        <div class="row">
            <div class="col-lg-12" id="highMap"></div>
        </div>

        
        <div class="row">
            <div></div>
            <div class="col-lg-12 float-right" id="highMapEurope"></div>
        </div>
    </section>

    
    {% endblock %}