{% extends "layout.html" %}

{% block staticlinks %}
{% endblock %}

{% block content %}

    <section class="container">
    </section>
    
    <section class="container" style="margin-bottom:20px">
        <form class="form-inline">
            <div class = "form-group">
                <label for="category" >Category:</label>
                <input type="text" class="form-control form-control-sm" id="category" value="" placeholder="e.g., reg">
                <button class="btn btn-primary btn-sm" type="button" id="update">Update</button>
                <div id="errormessage" class="invalid-feedback">Error Message!</div>
            </div>
        </form>        
    </section>
    
    <section class="container">
        <div class="container" id="info">
        </div>
    </section>

    <script>
        $("#update").click(function(){
            var category = $("#category").val();
            var tagsSeriesFiltered = [];
                    
            console.log(tagsSeries);
            j = 0;
            for (i=0; i<tagsSeries.length; i++) {
                if (tagsSeries[i].category.indexOf(category) !== -1) { tagsSeriesFiltered[j] = tagsSeries[i]; j++; }
            }
            
            console.log(tagsSeriesFiltered);
            curlData(category,tagsSeriesFiltered,0);
        });

        function curlData(category,tagsSeries,i) {
            model = [];
            model[0] = 'update_hist_series';
            toScript = ['histSeries'];
            $.ajax({
                url: 'routerAjax.php',
                type: 'POST',
                data: {
                    model: model,
                    toScript: toScript,
                    fromAjax: {series: tagsSeries[i], category: category}
                    },
                dataType: 'html',
                cache: false,
                timeout: 10000,
                success: function(results){
                    console.log("Success");
                    console.log(results);
                    results = JSON.parse(results).histSeries;
                    console.log(results);
                    if (results.info.insertedHistData === true) {
                        $("#info").append('<br><span>Successfully updated #' + i  + ': ' + tagsSeries[i].name + '(' + tagsSeries[i].freq + ') with ' + results.info.rowsChg + ' rows (' + results.info.firstDate + ' to ' + results.info.lastDate + ')</span>');
                    }
                    else {
                        $("#info").append('<br><span><b>Failed</b> to update #' + i  + ': ' + tagsSeries[i].name +  ' | ' + results.info.errorMsg + '</span>');
                    }
                    
                    $("#info").append(' <a href="' + results.info.url + '">URL</a>');
                    i ++;
                    if (i<tagsSeries.length) curlData(category,tagsSeries,i);
                    
                },
                error: function(e, ts, et){
                        $("#info").append('<br><span style="font-weight:bold">AJAX ERROR ON #' + i  + ': ' + tagsSeries[i].name +  ' | ' + ts +  ' (s_id: ' + tagsSeries[i].s_id +  ')</span>');
                        i ++;
                        if (i<tagsSeries.length) curlData(category,tagsSeries,i);
                }
            });
        }

    </script>
    
{% endblock %}